[submodule "llamafolio-tokens"]
	path = llamafolio-tokens
	url = https://github.com/llamafolio/llamafolio-tokens
[submodule "llamafolio-labels"]
	path = llamafolio-labels
	url = https://github.com/llamafolio/llamafolio-labels.git
