org: llamafolio
app: llamafolio-api
service: llamafolio-api

package:
  individually: true

frameworkVersion: '3'

useDotenv: true

provider:
  name: aws
  runtime: nodejs18.x
  stage: dev
  region: eu-central-1
  tracing:
    apiGateway: true
    lambda: true
  memorySize: 256
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - xray:PutTraceSegments
            - xray:PutTelemetryRecords
          Resource: '*'
        - Effect: 'Allow'
          Action:
            - 's3:ListBucket'
            - 's3:*Object*'
          Resource: '*'
        - Effect: 'Allow'
          Action:
            - 'lambda:InvokeFunction'
          Resource: '*'

  environment:
    CLICKHOUSE_HOST: ${env:CLICKHOUSE_HOST}
    CLICKHOUSE_USER: ${env:CLICKHOUSE_USER}
    CLICKHOUSE_PASSWORD: ${env:CLICKHOUSE_PASSWORD}
    STAGE: ${self:custom.stage}
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    LLAMANODES_API_KEY: ${env:LLAMANODES_API_KEY}
    DEFILLAMA_LABELS_API_KEY: ${env:DEFILLAMA_LABELS_API_KEY}
    DEFILLAMA_PRICE_API_KEY: ${env:DEFILLAMA_PRICE_API_KEY}
    SENTRY_DSN: ${env:SENTRY_DSN}
    CLOUDFLARE_R2_PUBLIC_URL: ${env:CLOUDFLARE_R2_PUBLIC_URL}
    #
    ANKR_API_KEY: ${env:ANKR_API_KEY}
    NFTPORT_API_KEY: ${env:NFTPORT_API_KEY}
    OPENSEA_API_KEY: ${env:OPENSEA_API_KEY}
    NFTSCAN_API_KEY: ${env:NFTSCAN_API_KEY}
    ALCHEMY_API_KEY: ${env:ALCHEMY_API_KEY}
    CENTER_API_KEY: ${env:CENTER_API_KEY}
    QUICKNODE_API_KEY: ${env:QUICKNODE_API_KEY}
    QUICKNODE_HTTP_URL: ${env:QUICKNODE_HTTP_URL}
    RESERVOIR_API_KEY: ${env:RESERVOIR_API_KEY}

  httpApi:
    metrics: true
    cors:
      allowedOrigins: '*'
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
      maxAge: 31536000

functions:
  getNFTs:
    handler: src/handlers/getNFTs.handler
    description: Get address nfts
    events:
      - httpApi:
          method: get
          path: /nfts/{address}
    timeout: 29
    memorySize: 512

  getNFTsHistory:
    handler: src/handlers/getNFTsHistory.handler
    description: Get nfts activity history
    events:
      - httpApi:
          method: get
          path: /nfts/history/{address}
    timeout: 29
    memorySize: 512

  getAdapters:
    handler: src/handlers/getAdapters.handler
    description: Get adapters
    events:
      - httpApi:
          method: get
          path: /adapters

  getBalances:
    handler: src/handlers/getBalances.handler
    description: Get address balances
    events:
      - httpApi:
          method: get
          path: /balances
    timeout: 10

  getBalancesAddress:
    handler: src/handlers/getBalancesAddress.handler
    description: Get address balances
    events:
      - httpApi:
          method: get
          path: /balances/{address}
    timeout: 29
    memorySize: 512

  getBalancesTokens:
    handler: src/handlers/getBalancesTokens.handler
    description: Get address erc20 balances
    events:
      - httpApi:
          method: get
          path: /balances/{address}/tokens
    timeout: 15
    memorySize: 512

  getCalendar:
    handler: src/handlers/getCalendar.handler
    description: Get calendar
    events:
      - httpApi:
          method: get
          path: /calendar/{address}
    timeout: 10

  getContract:
    handler: src/handlers/getContract.handler
    description: Get contract info
    events:
      - httpApi:
          method: get
          path: /contracts/{chain}/{address}
    timeout: 15

  getGasUsedChart:
    handler: src/handlers/getGasUsedChart.handler
    description: Get gas used chart
    events:
      - httpApi:
          method: get
          path: /gas_used/{chain}/chart

  getHistory:
    handler: src/handlers/getHistory.handler
    description: Get address history
    events:
      - httpApi:
          method: get
          path: /history/{address}
    timeout: 29

  getInfoStats:
    handler: src/handlers/getInfoStats.handler
    description: Get stats on supported protocols, chains and tokens
    events:
      - httpApi:
          method: get
          path: /info/stats

  getInfoAddress:
    handler: src/handlers/getInfoAddress.handler
    description: Get address info
    events:
      - httpApi:
          method: get
          path: /info/{address}
    timeout: 15

  getLabels:
    handler: src/handlers/getLabels.handler
    description: Get labels
    events:
      - httpApi:
          method: get
          path: /labels/{address}

  getProtocols:
    handler: src/handlers/getProtocols.handler
    description: Get protocols
    events:
      - httpApi:
          method: get
          path: /protocols

  getLatestProtocols:
    handler: src/handlers/getLatestProtocols.handler
    description: Get latest protocols
    events:
      - httpApi:
          method: get
          path: /protocols/latest
    timeout: 15

  getLatestSnapshot:
    handler: src/handlers/getLatestSnapshot.handler
    description: Get latest snapshot
    events:
      - httpApi:
          method: get
          path: /snapshots/{address}/latest
    timeout: 8

  getSyncStatus:
    handler: src/handlers/getSyncStatus.handler
    description: Get sync status
    events:
      - httpApi:
          method: get
          path: /sync_status
    timeout: 15

  getTokens:
    handler: src/handlers/getTokens.handler
    description: Get tokens
    events:
      - httpApi:
          method: get
          path: /tokens/{address}

  getToken:
    handler: src/handlers/getToken.handler
    description: Get token
    events:
      - httpApi:
          method: get
          path: /tokens/{chain}/{address}

  getTokenHolders:
    handler: src/handlers/getTokenHolders.handler
    description: Get the holders data for a token
    events:
      - httpApi:
          method: get
          path: /holders/{address}

  scheduledRevalidateAdaptersContracts:
    handler: src/handlers/revalidateAdapters.scheduledRevalidateAdaptersContracts
    description: Revalidate expired adapters contracts
    events:
      - schedule: rate(10 minutes)

  scheduledUpdateGovernanceProposals:
    handler: src/handlers/updateGovernanceProposals.scheduledUpdateGovernanceProposals
    description: Scheduled update governance proposals
    events:
      # every new hour
      - schedule: cron(0 * * * ? *)

  scheduledUpdateProtocols:
    handler: src/handlers/updateProtocols.scheduledUpdateProtocols
    description: Scheduled update protocols
    events:
      # every new hour
      - schedule: cron(0 * * * ? *)

  scheduledUpdateYields:
    handler: src/handlers/updateYields.scheduledUpdateYields
    description: Scheduled update yields
    events:
      # every new hour
      - schedule: cron(0 * * * ? *)

  revalidateAdapterContracts:
    handler: src/handlers/revalidateAdapters.revalidateAdapterContracts
    description: Revalidate adapter contracts

  updateGovernanceProposals:
    handler: src/handlers/updateGovernanceProposals.handler
    description: Update governance proposals
    timeout: 300

  updateBalances:
    handler: src/handlers/updateBalances.handler
    description: Update balances
    timeout: 300
    memorySize: 512

  updateProtocols:
    handler: src/handlers/updateProtocols.handler
    description: Update protocols
    timeout: 300

  updateYields:
    handler: src/handlers/updateYields.handler
    description: Update yields
    timeout: 300

custom:
  stage: ${opt:stage, self:provider.stage}
  esbuild:
    config: './esbuild.config.cjs'
  prune:
    automatic: true
    number: 5 # Number of versions to keep

plugins:
  - serverless-esbuild
  - serverless-offline
  - serverless-prune-plugin
