org: llamafolio
app: llamafolio-api
service: llamafolio-api

frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs14.x
  stage: dev
  region: eu-central-1
  tracing:
    apiGateway: true
    lambda: true
  memorySize: 256
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - xray:PutTraceSegments
            - xray:PutTelemetryRecords
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "s3:ListBucket"
            - "s3:*Object*"
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
          Resource: "*"
  environment:
    PGHOST: ${file(./env.js):PGHOST}
    PGUSER: ${file(./env.js):PGUSER}
    PGDATABASE: ${file(./env.js):PGDATABASE}
    PGPASSWORD: ${file(./env.js):PGPASSWORD}
    PGPORT: ${file(./env.js):PGPORT}
    LLAMANODES_API_KEY: ${file(./env.js):LLAMANODES_API_KEY}
    stage: ${self:custom.stage}
    tableName: ${self:custom.tableName}
    AWS_NODEJS_CONNECTION_REUSE_ENABLED: 1
    APIG_ENDPOINT:
      Fn::Join:
        - ""
        - - Ref: WebsocketsApi
          - .execute-api.
          - Ref: AWS::Region
          - .amazonaws.com/
          - ${self:provider.stage}

  httpApi:
    metrics: true
    cors:
      allowedOrigins: "*"
      allowedHeaders:
        - Content-Type
        - Authorization
      allowedMethods:
        - OPTIONS
        - GET
      maxAge: 31536000

functions:
  getAdapters:
    handler: src/handlers/getAdapters.handler
    description: Get adapters
    events:
      - httpApi:
          method: get
          path: /adapters

  getBalances:
    handler: src/handlers/getBalances.handler
    description: Get address balances
    events:
      - httpApi:
          method: get
          path: /balances/{address}

  getBalancesErc20:
    handler: src/handlers/getBalancesErc20.handler
    description: Get address erc20 balances
    events:
      - httpApi:
          method: get
          path: /balances/{address}/erc20

  getCategories:
    handler: src/handlers/getCategories.handler
    description: Get categories
    events:
      - httpApi:
          method: get
          path: /categories

  getContract:
    handler: src/handlers/getContracts.getContract
    description: Get contract
    events:
      - httpApi:
          method: get
          path: /contracts/{address}

  getHistory:
    handler: src/handlers/getHistory.handler
    description: Get address history
    events:
      - httpApi:
          method: get
          path: /history/{address}

  getInfoStats:
    handler: src/handlers/getInfoStats.handler
    description: Get stats on supported protocols, chains and tokens
    events:
      - httpApi:
          method: get
          path: /info/stats

  getLabels:
    handler: src/handlers/getLabels.handler
    description: Get labels
    events:
      - httpApi:
          method: get
          path: /labels/{address}

  getSyncStatus:
    handler: src/handlers/getSyncStatus.handler
    description: Get sync status
    events:
      - httpApi:
          method: get
          path: /sync_status

  getTokens:
    handler: src/handlers/getTokens.handler
    description: Get tokens
    events:
      - httpApi:
          method: get
          path: /tokens/{address}

  scheduledRevalidateAdaptersContracts:
    handler: src/handlers/revalidateAdapters.scheduledRevalidateAdaptersContracts
    description: Revalidate expired adapters contracts
    events:
      - schedule: rate(10 minutes)

  revalidateAdapterContracts:
    handler: src/handlers/revalidateAdapters.revalidateAdapterContracts
    description: Revalidate adapter contracts

  websocketRequests:
    handler: src/handlers/websocket.handleRequests
    role: handleWebsocketRequestsRole
    events:
      - websocket:
          route: $connect
      - websocket:
          route: $disconnect
      - websocket:
          route: updateBalances
      - websocket:
          # Fallback
          route: $default

  websocketUpdateAdaptersBalances:
    handler: src/handlers/updateBalances.websocketUpdateAdaptersHandler
    role: handleWebsocketRequestsRole
    timeout: 300

custom:
  stage: ${opt:stage, self:provider.stage}
  esbuild:
    bundle: true
    minify: false
    concurrency: 4
    external:
      - pg-native
      - pg-format
    # for debugging
    #keepOutputDirectory: true
  prune:
    automatic: true
    number: 5 # Number of versions to keep
  tableName: ${self:custom.stage}-llamafolio-table

resources:
  - ${file(resources/dynamodb.yml)}
  - ${file(resources/roles.yml)}

plugins:
  - serverless-offline
  - serverless-esbuild
  - serverless-prune-plugin
