name: 'Test [Cron]'

# Runs:
# - on manual trigger through GitHub Actions UI
# - daily at 00:00 UTC
on:
  schedule:
    # cron syntax: https://pubs.opengroup.org/onlinepubs/9699919799/utilities/crontab.html#tag_20_25_07
    # every day at 00:00 UTC
    - cron: '0 0 * * *'
  workflow_dispatch:

defaults:
  run:
    shell: bash

env:
  CI: true
  ACTIONS_RUNNER_DEBUG: true

jobs:
  test:
    name: 'Test [CRON]'
    timeout-minutes: 10
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: 'Test'
        env:
          API_URL: ${{ secrets.API_URL }}
          CLOUDFLARE_R2_PUBLIC_URL: ${{ secrets.CLOUDFLARE_R2_PUBLIC_URL }}
        run: |
          export CLOUDFLARE_R2_PUBLIC_URL=${{ env.CLOUDFLARE_R2_PUBLIC_URL }}
          export API_URL=${{ env.API_URL }}
          export CLOUDFLARE_R2_PUBLIC_URL=${{ env.CLOUDFLARE_R2_PUBLIC_URL }}
          /bin/bash ./test/routes.sh